{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232549Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "87755fb8c788d76d"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:25:49 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/put-content-type/1",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"test\": true}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Amz-Date": [
            "20260201T232549Z"
          ],
          "X-Amz-Content-Sha256": [
            "80f65706d935d3b928d95207937dd81bad43ab56cd4d3b7ed41772318e734168"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "aa952753bd4e2e14"
          ],
          "Etag": [
            "\"efebd898e52c44e3b3514775e5a7c2fa\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f416ec05e18c42799_d20260201_m232550_c005_v0501039_t0015_u01769988350029"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:25:49 GMT"
    },
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/put-content-type/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232549Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:25:50 GMT"
          ],
          "Etag": [
            "\"efebd898e52c44e3b3514775e5a7c2fa\""
          ],
          "X-Amz-Request-Id": [
            "cc4376d66eb43347"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f416ec05e18c42799_d20260201_m232550_c005_v0501039_t0015_u01769988350029"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:25:50 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/put-content-type/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232550Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "9fcad59a7845f472"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4013327da4ae4c58_d20260201_m232550_c005_v7007000_t0000_u01769988350933"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:25:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}