{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232639Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "1e60712502d12341"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:40 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/copy-source/1",
        "body": {
          "encoding": "UTF-8",
          "string": "content to copy"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232640Z"
          ],
          "X-Amz-Content-Sha256": [
            "4fede9da282a298265b6ead5bf7eb6d4acac097b9271d9fa09d659968ce6ddb6"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "3070205f852f922f"
          ],
          "Etag": [
            "\"ab984321929ac13562518b62876bac9b\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f414404e8c09adf7c_d20260201_m232640_c005_v0501038_t0039_u01769988400764"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:40 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/copy-dest/2",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Copy-Source": [
            "/s3-rb-test-d4e4d369/copy-source/1"
          ],
          "X-Amz-Date": [
            "20260201T232640Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "431d9cb0076a3219"
          ],
          "X-Amz-Copy-Source-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f414404e8c09adf7c_d20260201_m232640_c005_v0501038_t0039_u01769988400764"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f41930f21f563363f_d20260201_m232641_c005_v0501019_t0001_u01769988401133"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<CopyObjectResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <ETag>\"ab984321929ac13562518b62876bac9b\"</ETag>\n    <LastModified>2026-02-01T23:26:41.133Z</LastModified>\n</CopyObjectResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:41 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/copy-dest/2",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232641Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "binary/octet-stream"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:26:41 GMT"
          ],
          "Etag": [
            "\"ab984321929ac13562518b62876bac9b\""
          ],
          "X-Amz-Request-Id": [
            "c198f3cc87118f1e"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f41930f21f563363f_d20260201_m232641_c005_v0501019_t0001_u01769988401133"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "content to copy"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:41 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/copy-source/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232641Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "2ed97f60690c54cf"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f40004704eb1c53a5_d20260201_m232641_c005_v7007000_t0000_u01769988401868"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:41 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/copy-dest/2",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232641Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "db232475151d02d0"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f453d0cf1350caa1f_d20260201_m232642_c005_v7007000_t0000_u01769988402184"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:42 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}