{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233029Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "E72ZVXHCA80EYFEV"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:30 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/special/2/caf%C3%A9-na%C3%AFve.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "content with accented key"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233030Z"
          ],
          "X-Amz-Content-Sha256": [
            "ceb5c697436baa19c7fcd58acada5e29d0b2b45d69c8f26e720d8b47938329a0"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "E72ZHXPH80A2RQ23"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Etag": [
            "\"9d9e04fdeb466bedfd7cb6fa1852ab8e\""
          ],
          "X-Amz-Checksum-Crc64nvme": [
            "t50xANhOaKU="
          ],
          "X-Amz-Checksum-Type": [
            "FULL_OBJECT"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:30 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/special/2/caf%C3%A9-na%C3%AFve.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233030Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "E72W3D1SY1X5HJN5"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:30:31 GMT"
          ],
          "Etag": [
            "\"9d9e04fdeb466bedfd7cb6fa1852ab8e\""
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Content-Type": [
            "binary/octet-stream"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "content with accented key"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:30 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/special/2/caf%C3%A9-na%C3%AFve.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233030Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "4D3PZPB0FKC6Q1YQ"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:31 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}