{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232648Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "HH68QGNVS7R2PZ0N"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:49 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/multipart-prefix/3/file.txt?uploads=",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232649Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "HH619CB56EFW4EJ1"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<InitiateMultipartUploadResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Bucket>s3-rb-test-ac68bbf9</Bucket><Key>multipart-prefix/3/file.txt</Key><UploadId>fCl.sa8y4AwBb3w6GHlgYagHA6fbd.xm7OLkmjqs0TK.L8Gg24RzHynpM8Pi9kFpO67ZQvEMKbj_rkuKUwFGwQ--</UploadId></InitiateMultipartUploadResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:49 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/no-prefix/4?uploads=",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232649Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "HH67N0CY1VQZB8Y5"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<InitiateMultipartUploadResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Bucket>s3-rb-test-ac68bbf9</Bucket><Key>no-prefix/4</Key><UploadId>WJ1X0i916k56AvtZrhmOCRglNst01MvUNUoANxf05I7Y4NhmcC.7WJvzXKcLpXBawyCHHzfg_TF1OzxSqo9Mog--</UploadId></InitiateMultipartUploadResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:49 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9?prefix=multipart-prefix/3/&uploads=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232649Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "VN724P7G1VCVPBVC"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ListMultipartUploadsResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Bucket>s3-rb-test-ac68bbf9</Bucket><KeyMarker></KeyMarker><UploadIdMarker></UploadIdMarker><NextKeyMarker>multipart-prefix/3/file.txt</NextKeyMarker><NextUploadIdMarker>fCl.sa8y4AwBb3w6GHlgYagHA6fbd.xm7OLkmjqs0TK.L8Gg24RzHynpM8Pi9kFpO67ZQvEMKbj_rkuKUwFGwQ--</NextUploadIdMarker><Prefix>multipart-prefix/3/</Prefix><MaxUploads>1000</MaxUploads><IsTruncated>false</IsTruncated><Upload><Key>multipart-prefix/3/file.txt</Key><UploadId>fCl.sa8y4AwBb3w6GHlgYagHA6fbd.xm7OLkmjqs0TK.L8Gg24RzHynpM8Pi9kFpO67ZQvEMKbj_rkuKUwFGwQ--</UploadId><Initiator><ID>b4e81edb7b71b17c5b393627c25110e92afdc6d4d4ba89f0d7db43005b8d1395</ID></Initiator><Owner><ID>b4e81edb7b71b17c5b393627c25110e92afdc6d4d4ba89f0d7db43005b8d1395</ID></Owner><StorageClass>STANDARD</StorageClass><Initiated>2026-02-01T23:26:50.000Z</Initiated></Upload></ListMultipartUploadsResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:50 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/multipart-prefix/3/file.txt?uploadId=fCl.sa8y4AwBb3w6GHlgYagHA6fbd.xm7OLkmjqs0TK.L8Gg24RzHynpM8Pi9kFpO67ZQvEMKbj_rkuKUwFGwQ--",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232650Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "VN74EVBF7WCKTH56"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:50 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/no-prefix/4?uploadId=WJ1X0i916k56AvtZrhmOCRglNst01MvUNUoANxf05I7Y4NhmcC.7WJvzXKcLpXBawyCHHzfg_TF1OzxSqo9Mog--",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232650Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "VN78WNETAM07QQ4T"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}