{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232802Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "796NSZT7Z9MN40FM"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:28:02 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/multipart-list-1/3?uploads=",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232802Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "X49J9KYNXKVB7Y1Z"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<InitiateMultipartUploadResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Bucket>s3-rb-test-ac68bbf9</Bucket><Key>multipart-list-1/3</Key><UploadId>rPrnlS1Ej4UDvSOo6GYqIGfM7LZRv_EB4UVK3Wrq1npsuRmz7WRhfA2ObbaP5REqyVNsKPzZVgYQqSX28dZmQw--</UploadId></InitiateMultipartUploadResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:28:03 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9?uploads=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232803Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "X49H615SN9RBSDHH"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ListMultipartUploadsResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Bucket>s3-rb-test-ac68bbf9</Bucket><KeyMarker></KeyMarker><UploadIdMarker></UploadIdMarker><NextKeyMarker>multipart-list-2/4</NextKeyMarker><NextUploadIdMarker>z.mPdFRDopMUTt9N7Wl6cEFL3yP8gkiOd_TcrVcA7oUH_9zg026H48Z1badpLfOSYtR.e_7kKZHviZ5jy2ZgLg--</NextUploadIdMarker><MaxUploads>1000</MaxUploads><IsTruncated>false</IsTruncated><Upload><Key>multipart-list-1/3</Key><UploadId>rPrnlS1Ej4UDvSOo6GYqIGfM7LZRv_EB4UVK3Wrq1npsuRmz7WRhfA2ObbaP5REqyVNsKPzZVgYQqSX28dZmQw--</UploadId><Initiator><ID>b4e81edb7b71b17c5b393627c25110e92afdc6d4d4ba89f0d7db43005b8d1395</ID></Initiator><Owner><ID>b4e81edb7b71b17c5b393627c25110e92afdc6d4d4ba89f0d7db43005b8d1395</ID></Owner><StorageClass>STANDARD</StorageClass><Initiated>2026-02-01T23:28:04.000Z</Initiated></Upload><Upload><Key>multipart-list-2/4</Key><UploadId>z.mPdFRDopMUTt9N7Wl6cEFL3yP8gkiOd_TcrVcA7oUH_9zg026H48Z1badpLfOSYtR.e_7kKZHviZ5jy2ZgLg--</UploadId><Initiator><ID>b4e81edb7b71b17c5b393627c25110e92afdc6d4d4ba89f0d7db43005b8d1395</ID></Initiator><Owner><ID>b4e81edb7b71b17c5b393627c25110e92afdc6d4d4ba89f0d7db43005b8d1395</ID></Owner><StorageClass>STANDARD</StorageClass><Initiated>2026-02-01T23:28:04.000Z</Initiated></Upload></ListMultipartUploadsResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:28:03 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/multipart-list-1/3?uploadId=rPrnlS1Ej4UDvSOo6GYqIGfM7LZRv_EB4UVK3Wrq1npsuRmz7WRhfA2ObbaP5REqyVNsKPzZVgYQqSX28dZmQw--",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232803Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "HMF3EF8HG7MXES5Y"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:28:04 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/multipart-list-2/4?uploadId=z.mPdFRDopMUTt9N7Wl6cEFL3yP8gkiOd_TcrVcA7oUH_9zg026H48Z1badpLfOSYtR.e_7kKZHviZ5jy2ZgLg--",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232804Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "HMFEABWS8VQKTG82"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:28:04 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}