{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233055Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "DMKBACGEVVQB2GHA"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:56 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/batch-keys/2/a.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "content"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233056Z"
          ],
          "X-Amz-Content-Sha256": [
            "ed7002b439e9ac845f22357d822bac1444730fbdb6016d3ec9432297b9ec9f73"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "DMK79EE7V9W7DZ2V"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Etag": [
            "\"9a0364b9e99bb480dd25e1f0284c8555\""
          ],
          "X-Amz-Checksum-Crc64nvme": [
            "lhVdXyVQTGE="
          ],
          "X-Amz-Checksum-Type": [
            "FULL_OBJECT"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:56 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/batch-keys/2/b.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "content"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233056Z"
          ],
          "X-Amz-Content-Sha256": [
            "ed7002b439e9ac845f22357d822bac1444730fbdb6016d3ec9432297b9ec9f73"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "DMK204X3RJKXQR3B"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Etag": [
            "\"9a0364b9e99bb480dd25e1f0284c8555\""
          ],
          "X-Amz-Checksum-Crc64nvme": [
            "lhVdXyVQTGE="
          ],
          "X-Amz-Checksum-Type": [
            "FULL_OBJECT"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:56 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9?delete=",
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Delete xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n  <Quiet>false</Quiet>\n  <Object><Key>batch-keys/2/a.txt</Key></Object><Object><Key>batch-keys/2/b.txt</Key></Object>\n</Delete>\n"
        },
        "headers": {
          "Content-Md5": [
            "V+eZOP9q0q+zx3tKEtToSg=="
          ],
          "X-Amz-Date": [
            "20260201T233056Z"
          ],
          "X-Amz-Content-Sha256": [
            "0a72a024d7d30ac787b40ed62f6879146361436943565c509429ed935d99dcbe"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "GCMR35BTC9YWE7M5"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DeleteResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Deleted><Key>batch-keys/2/a.txt</Key></Deleted><Deleted><Key>batch-keys/2/b.txt</Key></Deleted></DeleteResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:57 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}