{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232650Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "879a0f5b1a3f43bf"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:51 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/multipart-abort/1?uploads=",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232651Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "49ad0eb360b9ae2b"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f20094e379d55bc62_d20260201_m232651_c005_v0501001_t0018_u01769988411656"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<InitiateMultipartUploadResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <Bucket>s3-rb-test-d4e4d369</Bucket>\n    <Key>multipart-abort/1</Key>\n    <UploadId>4_z6bdbef2d0c33148d96c30014_f20094e379d55bc62_d20260201_m232651_c005_v0501001_t0018_u01769988411656</UploadId>\n</InitiateMultipartUploadResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:51 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/multipart-abort/1?uploadId=4_z6bdbef2d0c33148d96c30014_f20094e379d55bc62_d20260201_m232651_c005_v0501001_t0018_u01769988411656",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232651Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "d8f4cd6a8ec56201"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:26:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}