{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233831Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "6b5ee9db39f6b261"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:38:31 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/multipart-list-1/1?uploads=",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233831Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "d1f2648cac36b778"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f2006777a7c78c458_d20260201_m233832_c005_v0501001_t0007_u01769989112065"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<InitiateMultipartUploadResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <Bucket>s3-rb-test-d4e4d369</Bucket>\n    <Key>multipart-list-1/1</Key>\n    <UploadId>4_z6bdbef2d0c33148d96c30014_f2006777a7c78c458_d20260201_m233832_c005_v0501001_t0007_u01769989112065</UploadId>\n</InitiateMultipartUploadResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:38:32 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369?uploads=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233832Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "563c75c2541419d9"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ListMultipartUploadsResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <Bucket>s3-rb-test-d4e4d369</Bucket>\n    <MaxUploads>1000</MaxUploads>\n    <IsTruncated>false</IsTruncated>\n    <Upload>\n        <Initiated>2026-02-01T23:38:32.065Z</Initiated>\n        <Initiator>\n            <ID>bbfdc34d6304</ID>\n        </Initiator>\n        <Key>multipart-list-1/1</Key>\n        <Owner>\n            <ID>bbfdc34d6304</ID>\n        </Owner>\n        <StorageClass>STANDARD</StorageClass>\n        <UploadId>4_z6bdbef2d0c33148d96c30014_f2006777a7c78c458_d20260201_m233832_c005_v0501001_t0007_u01769989112065</UploadId>\n    </Upload>\n    <Upload>\n        <Initiated>2026-02-01T23:38:32.477Z</Initiated>\n        <Initiator>\n            <ID>bbfdc34d6304</ID>\n        </Initiator>\n        <Key>multipart-list-2/2</Key>\n        <Owner>\n            <ID>bbfdc34d6304</ID>\n        </Owner>\n        <StorageClass>STANDARD</StorageClass>\n        <UploadId>4_z6bdbef2d0c33148d96c30014_f200409a2c01965c9_d20260201_m233832_c005_v0501040_t0049_u01769989112477</UploadId>\n    </Upload>\n</ListMultipartUploadsResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:38:32 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/multipart-list-1/1?uploadId=4_z6bdbef2d0c33148d96c30014_f2006777a7c78c458_d20260201_m233832_c005_v0501001_t0007_u01769989112065",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233832Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "d63b5ce7c6d615ce"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:38:33 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/multipart-list-2/2?uploadId=4_z6bdbef2d0c33148d96c30014_f200409a2c01965c9_d20260201_m233832_c005_v0501040_t0049_u01769989112477",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233833Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "ed242e63e29cfc71"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:38:33 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}