{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233105Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "EEYFBD848E38JYVW"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:05 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/list-max/2/file0.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "Content 0"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233105Z"
          ],
          "X-Amz-Content-Sha256": [
            "b8964a0e9532f50af2da42593bb9acfeb7f7505f180b5d0611e7be216b82e1b1"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "WKSKBR6AX1TW7KZY"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Etag": [
            "\"75124565b2cb2e24c7310b6c39db40d2\""
          ],
          "X-Amz-Checksum-Crc64nvme": [
            "YnGu7/L8J0Y="
          ],
          "X-Amz-Checksum-Type": [
            "FULL_OBJECT"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:06 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9?list-type=2&max-keys=2&prefix=list-max/2/",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233107Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "G8Q8NGEYZGY63DAY"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ListBucketResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Name>s3-rb-test-ac68bbf9</Name><Prefix>list-max/2/</Prefix><NextContinuationToken>1mtoshiPOUmaC+OgO5EYsvLibaQLUXc2yhyeSlGIXB259Jz7hnlLBbxtN2qkY2aUvAer/tW5Tq2M=</NextContinuationToken><KeyCount>2</KeyCount><MaxKeys>2</MaxKeys><IsTruncated>true</IsTruncated><Contents><Key>list-max/2/file0.txt</Key><LastModified>2026-02-01T23:31:07.000Z</LastModified><ETag>&quot;75124565b2cb2e24c7310b6c39db40d2&quot;</ETag><ChecksumAlgorithm>CRC64NVME</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType><Size>9</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>list-max/2/file1.txt</Key><LastModified>2026-02-01T23:31:07.000Z</LastModified><ETag>&quot;81d6a1501eaff685ab50c7ff7d29d396&quot;</ETag><ChecksumAlgorithm>CRC64NVME</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType><Size>9</Size><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:07 GMT"
    },
[...]
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/list-max/2/file4.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233109Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "SAY193RFJEFGXWP6"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:09 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}