{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233007Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "be7ff6858e212ec4"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:07 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special-batch/1/file%20with%20spaces.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "test"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233007Z"
          ],
          "X-Amz-Content-Sha256": [
            "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "5214903a70c53e99"
          ],
          "Etag": [
            "\"098f6bcd4621d373cade4e832627b4f6\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4146681fae61e3d2_d20260201_m233008_c005_v0501040_t0016_u01769988608131"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:08 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special-batch/1/file+plus.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "test"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233008Z"
          ],
          "X-Amz-Content-Sha256": [
            "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "43f114c073e71b82"
          ],
          "Etag": [
            "\"098f6bcd4621d373cade4e832627b4f6\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4081a95b3fd824b0_d20260201_m233008_c005_v0501025_t0032_u01769988608430"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:08 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special-batch/1/file&ampersand.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "test"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233008Z"
          ],
          "X-Amz-Content-Sha256": [
            "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "d29da7875ffaac57"
          ],
          "Etag": [
            "\"098f6bcd4621d373cade4e832627b4f6\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f409fe6ae2d0684cd_d20260201_m233008_c005_v0501033_t0006_u01769988608813"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:08 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369?delete=",
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Delete xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n  <Quiet>false</Quiet>\n  <Object><Key>special-batch/1/file with spaces.txt</Key></Object><Object><Key>special-batch/1/file+plus.txt</Key></Object><Object><Key>special-batch/1/file&amp;ampersand.txt</Key></Object>\n</Delete>\n"
        },
        "headers": {
          "Content-Md5": [
            "K/g/1CgqLEUYDxwKs7d1Rw=="
          ],
          "X-Amz-Date": [
            "20260201T233008Z"
          ],
          "X-Amz-Content-Sha256": [
            "a6eb6c4c081cfbf5dca79cf982f7523807f5e69d5689dc17e72ad5cbdaa28dac"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "9aa398df09a15a8e"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<DeleteResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <Deleted>\n        <DeleteMarker>true</DeleteMarker>\n        <DeleteMarkerVersionId>4_z6bdbef2d0c33148d96c30014_f481306ed9c44bd1e_d20260201_m233009_c005_v7007000_t0000_u01769988609152</DeleteMarkerVersionId>\n        <Key>special-batch/1/file with spaces.txt</Key>\n    </Deleted>\n    <Deleted>\n        <DeleteMarker>true</DeleteMarker>\n        <DeleteMarkerVersionId>4_z6bdbef2d0c33148d96c30014_f481306ed9c44bd20_d20260201_m233009_c005_v7007000_t0000_u01769988609152</DeleteMarkerVersionId>\n        <Key>special-batch/1/file&amp;ampersand.txt</Key>\n    </Deleted>\n    <Deleted>\n        <DeleteMarker>true</DeleteMarker>\n        <DeleteMarkerVersionId>4_z6bdbef2d0c33148d96c30014_f481306ed9c44bd1f_d20260201_m233009_c005_v7007000_t0000_u01769988609152</DeleteMarkerVersionId>\n        <Key>special-batch/1/file+plus.txt</Key>\n    </Deleted>\n</DeleteResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:09 GMT"
    },
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special-batch/1/file%20with%20spaces.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233009Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "fe038c1703cd9e3c"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f481306ed9c44bd1e_d20260201_m233009_c005_v7007000_t0000_u01769988609152"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:09 GMT"
    },
[...]
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special-batch/1/file&ampersand.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233009Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "0750acc67b888128"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f481306ed9c44bd20_d20260201_m233009_c005_v7007000_t0000_u01769988609152"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:10 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}