{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233033Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "37e05a05c112d980"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:34 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/source%20file+name.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "content to copy"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233034Z"
          ],
          "X-Amz-Content-Sha256": [
            "4fede9da282a298265b6ead5bf7eb6d4acac097b9271d9fa09d659968ce6ddb6"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "25a23579967e284c"
          ],
          "Etag": [
            "\"ab984321929ac13562518b62876bac9b\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4186c57ef7d1e0bd_d20260201_m233034_c005_v0501039_t0035_u01769988634793"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:34 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/2/dest%20file&name.txt",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Copy-Source": [
            "/s3-rb-test-d4e4d369/special/1/source%20file%2Bname.txt"
          ],
          "X-Amz-Date": [
            "20260201T233034Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "80427801a6e270ca"
          ],
          "X-Amz-Copy-Source-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4186c57ef7d1e0bd_d20260201_m233034_c005_v0501039_t0035_u01769988634793"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f1111dee084ccbce1_d20260201_m233035_c005_v0501039_t0021_u01769988635232"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<CopyObjectResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <ETag>\"ab984321929ac13562518b62876bac9b\"</ETag>\n    <LastModified>2026-02-01T23:30:35.232Z</LastModified>\n</CopyObjectResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:35 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/2/dest%20file&name.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233035Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "binary/octet-stream"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:30:35 GMT"
          ],
          "Etag": [
            "\"ab984321929ac13562518b62876bac9b\""
          ],
          "X-Amz-Request-Id": [
            "ef3daf0d63fa9157"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f1111dee084ccbce1_d20260201_m233035_c005_v0501039_t0021_u01769988635232"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "content to copy"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:35 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/source%20file+name.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233035Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "6b8877c5ba35b678"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4442badc7ef4c6cd_d20260201_m233036_c005_v7007000_t0000_u01769988636417"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:36 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/2/dest%20file&name.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233036Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "e3657dd5b318a5dc"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f419c026c1ed9b8bf_d20260201_m233036_c005_v7007000_t0000_u01769988636731"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:36 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}