{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233044Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "56f650c333d0b5f3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:44 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/path%20with%20spaces/file+name&value=test.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "complex key content"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233044Z"
          ],
          "X-Amz-Content-Sha256": [
            "d4c88148076c43e088b0f07653fffda20ba3e8545821e07399e7ff6b15771247"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "f32da0cd3907e4fc"
          ],
          "Etag": [
            "\"a0fceae3f0a7e5af0b82db262eee6e29\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f100032145a7d30ff_d20260201_m233045_c005_v0501030_t0033_u01769988645148"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:45 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/path%20with%20spaces/file+name&value=test.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233045Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "binary/octet-stream"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:30:45 GMT"
          ],
          "Etag": [
            "\"a0fceae3f0a7e5af0b82db262eee6e29\""
          ],
          "X-Amz-Request-Id": [
            "fa3b4c1a699649d3"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f100032145a7d30ff_d20260201_m233045_c005_v0501030_t0033_u01769988645148"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "complex key content"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:45 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369?list-type=2&prefix=special/1/path%20with%20spaces/",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233045Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "ea9bb71981b248de"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ListBucketResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <Contents>\n        <ETag>\"a0fceae3f0a7e5af0b82db262eee6e29\"</ETag>\n        <Key>special/1/path with spaces/file+name&amp;value=test.txt</Key>\n        <LastModified>2026-02-01T23:30:45.148Z</LastModified>\n        <Size>19</Size>\n        <StorageClass>STANDARD</StorageClass>\n    </Contents>\n    <IsTruncated>false</IsTruncated>\n    <MaxKeys>1000</MaxKeys>\n    <Name>s3-rb-test-d4e4d369</Name>\n    <Prefix>special/1/path with spaces/</Prefix>\n    <KeyCount>1</KeyCount>\n</ListBucketResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:45 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/path%20with%20spaces/file+name&value=test.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233045Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "9d05383f56f99a74"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f418c05139c168c9b_d20260201_m233046_c005_v7007000_t0000_u01769988646313"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:46 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}