{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233028Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "ce81c17218c0d384"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:28 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/caf%C3%A9-na%C3%AFve.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "content with accented key"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233028Z"
          ],
          "X-Amz-Content-Sha256": [
            "ceb5c697436baa19c7fcd58acada5e29d0b2b45d69c8f26e720d8b47938329a0"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "263397b6bf7d4410"
          ],
          "Etag": [
            "\"9d9e04fdeb466bedfd7cb6fa1852ab8e\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4087cd32082d50af_d20260201_m233029_c005_v0501027_t0006_u01769988629280"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:29 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/caf%C3%A9-na%C3%AFve.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233029Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "binary/octet-stream"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:30:29 GMT"
          ],
          "Etag": [
            "\"9d9e04fdeb466bedfd7cb6fa1852ab8e\""
          ],
          "X-Amz-Request-Id": [
            "196ce8177ae793d3"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4087cd32082d50af_d20260201_m233029_c005_v0501027_t0006_u01769988629280"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "content with accented key"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:29 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/caf%C3%A9-na%C3%AFve.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233029Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "69479c0c17ced8c4"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f42621e432e51257d_d20260201_m233029_c005_v7007000_t0000_u01769988629896"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:29 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}