{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233022Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "00a29014f912e234"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:22 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/file%25percent.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "content with percent in key"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233022Z"
          ],
          "X-Amz-Content-Sha256": [
            "f04e4120f3cbfb0b25a75d5c4ce585b9cd53beeeba3f066b4b2cee75deca8f33"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "5b6a0182a646357a"
          ],
          "Etag": [
            "\"5b18c8ebb7dd8e9edd6546dde341aa55\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f409c34771850727b_d20260201_m233023_c005_v0501037_t0012_u01769988623250"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:23 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/file%25percent.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233023Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "binary/octet-stream"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:30:23 GMT"
          ],
          "Etag": [
            "\"5b18c8ebb7dd8e9edd6546dde341aa55\""
          ],
          "X-Amz-Request-Id": [
            "0861b0a773109ac1"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f409c34771850727b_d20260201_m233023_c005_v0501037_t0012_u01769988623250"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "content with percent in key"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:23 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/file%25percent.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233023Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "284a1a462bcf320e"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f436cc3cbb28ae6aa_d20260201_m233024_c005_v7007000_t0000_u01769988624031"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:23 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}