{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233019Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "cc16b5ffaba55ce3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:19 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/%E6%96%87%E4%BB%B6%E5%90%8D.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "content with unicode key"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233019Z"
          ],
          "X-Amz-Content-Sha256": [
            "4af763e27a937aa591d1fd0560643be5584b3c28928433b6ab4101e4b89e2e79"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "fbaa54957d9235e9"
          ],
          "Etag": [
            "\"a9aac6e4179f8d4caa32c445ef687ade\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f419576b2156b6946_d20260201_m233020_c005_v0501014_t0051_u01769988620084"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:20 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/%E6%96%87%E4%BB%B6%E5%90%8D.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233020Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "binary/octet-stream"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:30:20 GMT"
          ],
          "Etag": [
            "\"a9aac6e4179f8d4caa32c445ef687ade\""
          ],
          "X-Amz-Request-Id": [
            "45444cacbc427d1e"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f419576b2156b6946_d20260201_m233020_c005_v0501014_t0051_u01769988620084"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "content with unicode key"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:20 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/special/1/%E6%96%87%E4%BB%B6%E5%90%8D.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233020Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "4fd1d9361ec40932"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f460a518833aa57ac_d20260201_m233020_c005_v7007000_t0000_u01769988620782"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:20 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}