{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232905Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "50Y0NFKP7Y17E0X5"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:05 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/file-put/2",
        "body": {
          "encoding": "UTF-8",
          "string": "Content from file upload"
        },
        "headers": {
          "Content-Type": [
            "application/octet-stream"
          ],
          "X-Amz-Date": [
            "20260201T232905Z"
          ],
          "X-Amz-Content-Sha256": [
            "0c050b074e6870c3692892953124727d38aa61c85cdb108351a460dcead39372"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "352BADYBQZYN9BAV"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Etag": [
            "\"43a72666269a85ab0287cdceb0bb7218\""
          ],
          "X-Amz-Checksum-Crc64nvme": [
            "gA5THNo1PiQ="
          ],
          "X-Amz-Checksum-Type": [
            "FULL_OBJECT"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:06 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/file-put/2",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232906Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "3527K4B3GPFMV5A3"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:29:07 GMT"
          ],
          "Etag": [
            "\"43a72666269a85ab0287cdceb0bb7218\""
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "Content from file upload"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:06 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/file-put/2",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232906Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "352EGT9BX9JSBWZQ"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:06 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}