{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232941Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "Z0DQRWBF5QBA8NMW"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:41 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/batch-delete/2/file0.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "Content 0"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232941Z"
          ],
          "X-Amz-Content-Sha256": [
            "b8964a0e9532f50af2da42593bb9acfeb7f7505f180b5d0611e7be216b82e1b1"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "WSG245MHBFC3MWT4"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Etag": [
            "\"75124565b2cb2e24c7310b6c39db40d2\""
          ],
          "X-Amz-Checksum-Crc64nvme": [
            "YnGu7/L8J0Y="
          ],
          "X-Amz-Checksum-Type": [
            "FULL_OBJECT"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:42 GMT"
    },
[...]
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9?delete=",
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Delete xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n  <Quiet>false</Quiet>\n  <Object><Key>batch-delete/2/file0.txt</Key></Object><Object><Key>batch-delete/2/file1.txt</Key></Object><Object><Key>batch-delete/2/file2.txt</Key></Object>\n</Delete>\n"
        },
        "headers": {
          "Content-Md5": [
            "q+0dWks1q6834AlSqXn8/Q=="
          ],
          "X-Amz-Date": [
            "20260201T232942Z"
          ],
          "X-Amz-Content-Sha256": [
            "d656f163f35b6216e81c26b455b8424815e517e5031515365ba1d1d22c51efeb"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "JFQ9PP552M93E7J8"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DeleteResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Deleted><Key>batch-delete/2/file0.txt</Key></Deleted><Deleted><Key>batch-delete/2/file1.txt</Key></Deleted><Deleted><Key>batch-delete/2/file2.txt</Key></Deleted></DeleteResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:43 GMT"
    },
[...]
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/batch-delete/2/file2.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232943Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "WA62BAN8F7R13ED0"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:44 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}