{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233122Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "27241a34a5f0e1ce"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:22 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/multipart-list/1?uploads=",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233122Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "59358dc99f6880d7"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f200767e57c9d8713_d20260201_m233122_c005_v0501040_t0041_u01769988682842"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<InitiateMultipartUploadResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <Bucket>s3-rb-test-d4e4d369</Bucket>\n    <Key>multipart-list/1</Key>\n    <UploadId>4_z6bdbef2d0c33148d96c30014_f200767e57c9d8713_d20260201_m233122_c005_v0501040_t0041_u01769988682842</UploadId>\n</InitiateMultipartUploadResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:22 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369?uploads=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233122Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "5e5bd4a22a0f8569"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ListMultipartUploadsResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <Bucket>s3-rb-test-d4e4d369</Bucket>\n    <MaxUploads>1000</MaxUploads>\n    <IsTruncated>false</IsTruncated>\n    <Upload>\n        <Initiated>2026-02-01T23:31:22.842Z</Initiated>\n        <Initiator>\n            <ID>bbfdc34d6304</ID>\n        </Initiator>\n        <Key>multipart-list/1</Key>\n        <Owner>\n            <ID>bbfdc34d6304</ID>\n        </Owner>\n        <StorageClass>STANDARD</StorageClass>\n        <UploadId>4_z6bdbef2d0c33148d96c30014_f200767e57c9d8713_d20260201_m233122_c005_v0501040_t0041_u01769988682842</UploadId>\n    </Upload>\n</ListMultipartUploadsResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:23 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/multipart-list/1?uploadId=4_z6bdbef2d0c33148d96c30014_f200767e57c9d8713_d20260201_m233122_c005_v0501040_t0041_u01769988682842",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233123Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "b543ef5ba479f369"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:23 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}