{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233115Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "aaf8d0d6da4511b8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:15 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/list-delimiter/1/root.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "root"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233115Z"
          ],
          "X-Amz-Content-Sha256": [
            "4813494d137e1631bba301d5acab6e7bb7aa74ce1185d456565ef51d737677b2"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "219d85fc7c79ddd5"
          ],
          "Etag": [
            "\"63a9f0ea7bb98050796b649e85481845\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f41057d694f574779_d20260201_m233115_c005_v0501007_t0013_u01769988675961"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:15 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/list-delimiter/1/folder1/file.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "folder1"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233115Z"
          ],
          "X-Amz-Content-Sha256": [
            "f3f722036de8391c3724a8f7e3975e10f79ff6e181ef63e4ea739f0a9fa7b946"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "c7463eef5bb6c8ee"
          ],
          "Etag": [
            "\"60ca9306988b4de5ae4bb263c60a051e\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4118e89d459dedf7_d20260201_m233116_c005_v0501018_t0023_u01769988676296"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:16 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369?delimiter=/&list-type=2&prefix=list-delimiter/1/",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233116Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "fbd72595f732de6e"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ListBucketResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <CommonPrefixes>\n        <Prefix>list-delimiter/1/folder1/</Prefix>\n    </CommonPrefixes>\n    <CommonPrefixes>\n        <Prefix>list-delimiter/1/folder2/</Prefix>\n    </CommonPrefixes>\n    <Contents>\n        <ETag>\"63a9f0ea7bb98050796b649e85481845\"</ETag>\n        <Key>list-delimiter/1/root.txt</Key>\n        <LastModified>2026-02-01T23:31:15.961Z</LastModified>\n        <Size>4</Size>\n        <StorageClass>STANDARD</StorageClass>\n    </Contents>\n    <Delimiter>/</Delimiter>\n    <IsTruncated>false</IsTruncated>\n    <MaxKeys>1000</MaxKeys>\n    <Name>s3-rb-test-d4e4d369</Name>\n    <Prefix>list-delimiter/1/</Prefix>\n    <KeyCount>3</KeyCount>\n</ListBucketResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:17 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/list-delimiter/1/root.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233117Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "0c42e0c076670571"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4992819c06e0c661_d20260201_m233117_c005_v7007000_t0000_u01769988677551"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:17 GMT"
    },
[...]
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/list-delimiter/1/folder2/file.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233117Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "f2774b9788e8aa71"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f498e57487e3da9e6_d20260201_m233118_c005_v7007000_t0000_u01769988678336"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:18 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}