{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233137Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "J8XDKM4885R5NT5H"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:37 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/multipart-ct/2?uploads=",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/zip"
          ],
          "X-Amz-Date": [
            "20260201T233137Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "J8XEMR438FYJQMF0"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<InitiateMultipartUploadResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Bucket>s3-rb-test-ac68bbf9</Bucket><Key>multipart-ct/2</Key><UploadId>RbQlzC2qsZRwCpQIcBQ.RNE6uW2JM.NwpdrzEXFiUgL8rksz0tt1Fm4HyvUKHVaTFA9Rj.SEM7DccUax8WBSaw--</UploadId></InitiateMultipartUploadResult>"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:38 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/multipart-ct/2?uploadId=RbQlzC2qsZRwCpQIcBQ.RNE6uW2JM.NwpdrzEXFiUgL8rksz0tt1Fm4HyvUKHVaTFA9Rj.SEM7DccUax8WBSaw--",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233138Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "J8X51BGRMQFX5PPF"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:38 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}