{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232926Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "e1104276c09c63d5"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:26 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/delimiter-test/1/file.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "root file"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232926Z"
          ],
          "X-Amz-Content-Sha256": [
            "3d11afb68c4201f4c42f50009ad7cb3215268c5e17a7e87ac54cf1e5a703635d"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "ed7ece0f31e825f3"
          ],
          "Etag": [
            "\"bcac6091cabb3907869f918716cdbad7\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4086d70608734931_d20260201_m232926_c005_v0501036_t0003_u01769988566904"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:27 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/delimiter-test/1/folder1/file.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "folder1"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232927Z"
          ],
          "X-Amz-Content-Sha256": [
            "f3f722036de8391c3724a8f7e3975e10f79ff6e181ef63e4ea739f0a9fa7b946"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "5d5607a20b031914"
          ],
          "Etag": [
            "\"60ca9306988b4de5ae4bb263c60a051e\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f40305f5a934b20af_d20260201_m232927_c005_v0501034_t0037_u01769988567630"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:27 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369?delimiter=/&list-type=2&prefix=delimiter-test/1/",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232927Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "8da146e7edd7b4bb"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ListBucketResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">\n    <CommonPrefixes>\n        <Prefix>delimiter-test/1/folder1/</Prefix>\n    </CommonPrefixes>\n    <CommonPrefixes>\n        <Prefix>delimiter-test/1/folder2/</Prefix>\n    </CommonPrefixes>\n    <Contents>\n        <ETag>\"bcac6091cabb3907869f918716cdbad7\"</ETag>\n        <Key>delimiter-test/1/file.txt</Key>\n        <LastModified>2026-02-01T23:29:26.904Z</LastModified>\n        <Size>9</Size>\n        <StorageClass>STANDARD</StorageClass>\n    </Contents>\n    <Delimiter>/</Delimiter>\n    <IsTruncated>false</IsTruncated>\n    <MaxKeys>1000</MaxKeys>\n    <Name>s3-rb-test-d4e4d369</Name>\n    <Prefix>delimiter-test/1/</Prefix>\n    <KeyCount>3</KeyCount>\n</ListBucketResult>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:28 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/delimiter-test/1/file.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232928Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "722c500da619ab1c"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f416cb63c0731311b_d20260201_m232928_c005_v7007000_t0000_u01769988568732"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:28 GMT"
    },
[...]
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/delimiter-test/1/folder2/file.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232929Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "94eef558f89bc282"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4680e46d610c6297_d20260201_m232929_c005_v7007000_t0000_u01769988569571"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:29 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}