{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232935Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "be548bd056f417b3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:36 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/integration/1",
        "body": {
          "encoding": "UTF-8",
          "string": "Test content for put and get"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "X-Amz-Date": [
            "20260201T232936Z"
          ],
          "X-Amz-Content-Sha256": [
            "f5b3c8b8f952121fb0229c8be8f70230027a9ecd8ca92b157864692d5ffad2c9"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "9b67bc6d3637f617"
          ],
          "Etag": [
            "\"e6a7ba9ac51e09dbe5cc05cd1c040bb3\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4192348a66e6aa36_d20260201_m232936_c005_v0501010_t0047_u01769988576508"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:36 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/integration/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232936Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:29:36 GMT"
          ],
          "Etag": [
            "\"e6a7ba9ac51e09dbe5cc05cd1c040bb3\""
          ],
          "X-Amz-Request-Id": [
            "ac5da727882ff725"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4192348a66e6aa36_d20260201_m232936_c005_v0501010_t0047_u01769988576508"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "Test content for put and get"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:36 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/integration/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232936Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "fa48f8a0cd54f708"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4581ef72b7726651_d20260201_m232937_c005_v7007000_t0000_u01769988577227"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:37 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}