{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232904Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "e363860d26a059fb"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:04 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/file-put/1",
        "body": {
          "encoding": "UTF-8",
          "string": "Content from file upload"
        },
        "headers": {
          "Content-Type": [
            "application/octet-stream"
          ],
          "X-Amz-Date": [
            "20260201T232904Z"
          ],
          "X-Amz-Content-Sha256": [
            "0c050b074e6870c3692892953124727d38aa61c85cdb108351a460dcead39372"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "0b136386866951a0"
          ],
          "Etag": [
            "\"43a72666269a85ab0287cdceb0bb7218\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4047673c58e5f96b_d20260201_m232904_c005_v0501036_t0007_u01769988544848"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:04 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/file-put/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232904Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/octet-stream"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:29:04 GMT"
          ],
          "Etag": [
            "\"43a72666269a85ab0287cdceb0bb7218\""
          ],
          "X-Amz-Request-Id": [
            "9a0b95d304702802"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f4047673c58e5f96b_d20260201_m232904_c005_v0501036_t0007_u01769988544848"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "Content from file upload"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:05 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/file-put/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232905Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "bcabb38a8b1f197a"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f419c026c1ed9b6e8_d20260201_m232905_c005_v7007000_t0000_u01769988545584"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:05 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}