{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232917Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "9d6659ba25017801"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:17 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/io-put/1",
        "body": {
          "encoding": "UTF-8",
          "string": "Content from StringIO"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "X-Amz-Date": [
            "20260201T232917Z"
          ],
          "X-Amz-Content-Sha256": [
            "6746cc89db0be51f895291d797814538eed67c95761b084966e1cc608e0b22c3"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "2b284f363f9a7149"
          ],
          "Etag": [
            "\"6ab61c930254f61dc4045d0c7aa75d9c\""
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f401003e62ffb84d4_d20260201_m232917_c005_v0501026_t0030_u01769988557940"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:17 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/io-put/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232917Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Last-Modified": [
            "Sun, 01 Feb 2026 23:29:17 GMT"
          ],
          "Etag": [
            "\"6ab61c930254f61dc4045d0c7aa75d9c\""
          ],
          "X-Amz-Request-Id": [
            "bcc6918b91fc55f1"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f401003e62ffb84d4_d20260201_m232917_c005_v0501026_t0030_u01769988557940"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "Content from StringIO"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:18 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/io-put/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232918Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "2db3ad66c3405cb4"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_z6bdbef2d0c33148d96c30014_f438c37e1536d8d2f_d20260201_m232918_c005_v7007000_t0000_u01769988558731"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:18 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}