{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-temp-67d687d47c566dd4",
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T224844Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "40a4afa3d497c654"
          ],
          "Location": [
            "/s3-rb-temp-67d687d47c566dd4"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 22:48:45 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-temp-67d687d47c566dd4/test.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "test"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T224845Z"
          ],
          "X-Amz-Content-Sha256": [
            "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "f0291375f68b0bd5"
          ],
          "Etag": [
            "\"098f6bcd4621d373cade4e832627b4f6\""
          ],
          "X-Amz-Version-Id": [
            "4_zebdbefed6c4314bd96c30014_f416add4fc7951692_d20260201_m224846_c005_v0501040_t0007_u01769986126211"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 22:48:46 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-temp-67d687d47c566dd4",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T224846Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 409,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "d9c3c592996f8156"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Error>\n    <Code>BucketNotEmpty</Code>\n    <Message>Cannot delete non-empty bucket</Message>\n</Error>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 22:48:46 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-temp-67d687d47c566dd4/test.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T224846Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "32bad88769536dcd"
          ],
          "X-Amz-Delete-Marker": [
            "true"
          ],
          "X-Amz-Version-Id": [
            "4_zebdbefed6c4314bd96c30014_f416cb63c0730c56e_d20260201_m224846_c005_v7007000_t0000_u01769986126889"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 22:48:46 GMT"
    },
[...]
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232956Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "29674e943aa03df5"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:56 GMT"
    },
[...]
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-temp-0afb075d0e31e633",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T232958Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 409,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "8fd476a2d3a2f3cd"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Error>\n    <Code>BucketNotEmpty</Code>\n    <Message>Cannot delete non-empty bucket</Message>\n</Error>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:29:58 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}