{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233004Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "X-Amz-Request-Id": [
            "bfca686c3505d488"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:05 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-005.dream.io/s3-rb-test-d4e4d369/test.txt?uploadId=invalid-upload-id-12345",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233005Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/xml"
          ],
          "X-Amz-Request-Id": [
            "56f6449a546b5218"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Error>\n    <Code>NoSuchUpload</Code>\n    <Message>The specified upload does not exist. The upload ID may be invalid, or the upload may have been aborted or completed.</Message>\n    <Resource>invalid-upload-id-12345</Resource>\n</Error>\n"
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:30:05 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}