{
  "http_interactions": [
    {
      "request": {
        "method": "head",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233132Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "1HSG90MVVGD0YE5H"
          ],
          "X-Amz-Bucket-Region": [
            "us-east-1"
          ],
          "X-Amz-Access-Point-Alias": [
            "false"
          ],
          "X-Amz-Bucket-Arn": [
            "arn:aws:s3:::s3-rb-test-ac68bbf9"
          ],
          "Content-Type": [
            "application/xml"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:33 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/presign-special/file%20with%20spaces.txt",
        "body": {
          "encoding": "UTF-8",
          "string": "Special character key content"
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233133Z"
          ],
          "X-Amz-Content-Sha256": [
            "65c40a4f1c4ce099cfe486fa58e15eb6bd60a57a2ac45dbfc25870affd9625bd"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "1HSWHSHAT1W0PD7M"
          ],
          "X-Amz-Server-Side-Encryption": [
            "AES256"
          ],
          "Etag": [
            "\"87b52e22c23ccdb6c5ee88f15e95ca07\""
          ],
          "X-Amz-Checksum-Crc64nvme": [
            "PPF02dFRl9U="
          ],
          "X-Amz-Checksum-Type": [
            "FULL_OBJECT"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:33 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://s3.us-east-1.amazonaws.com/s3-rb-test-ac68bbf9/presign-special/file%20with%20spaces.txt",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Amz-Date": [
            "20260201T233133Z"
          ],
          "X-Amz-Content-Sha256": [
            "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "X-Amz-Request-Id": [
            "1HSGTB3M6MERATJ9"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 01 Feb 2026 23:31:33 GMT"
    }
  ],
  "recorded_with": "VCR 6.4.0"
}